@font-face{
    font-family: Antonio-Regular;
    src: url(../fonts/antonio/Antonio-Regular.ttf);
}

@font-face{
    font-family: Antonio-Bold;
    src: url(../fonts/antonio/Antonio-Bold.ttf);
}

@font-face{
    font-family: Antonio-Light;
    src: url(../fonts/antonio/Antonio-Light.ttf);
}

.background{
    background-image: url(../images/background.jpeg);
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.login{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 35px;
    margin-top: 10%;
}

h1{
    font-size: 148.39pt !important;
    font-family: Antonio-Bold !important;
    color: #19294d !important;
    height: 205px;
}

h2{
    font-family: Antonio-Regular !important;
    font-size: 19.6pt !important;
    color: #404040 !important;
}

.centro, .background{
    position: relative;
    width: 100%;
}

.container-login{
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -62%);
}

.linha-vertical{
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.linha-vertical{
    height: 255px;/*Altura da linha*/
    border-left: 1px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    margin-top: 65px;
}

.username, .password{
    padding-left: 8px;
    width: 269px !important;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
}

.username::-webkit-input-placeholder{
    font-family: antonio-light;
    font-size: 8pt;
}

.password::-webkit-input-placeholder{
    font-family: antonio-light;
    font-size: 8pt;
}

.button{
    font-family: Antonio-regular;
    width: 269px;
}

.intro{
    margin-top: 50px;
    font-family: Antonio-regular;
    font-size: 16pt;
}

.margin-top-10{
    margin-top: 10px;
}

.button{
    height: 32px;
    padding-top: 3px !important;
}

.form-login, .titulo{
    margin-top: 60px;
    margin-bottom: 80px; 
}

.titulo{
    margin-right: -40px;
    margin-left: 40px; 
}

.form-login{
    margin-left: -40px;
}

@media screen and (max-width: 767px){
    .linha-vertical{
        height: 1px;/*Altura da linha*/
        border-left: 255px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
        margin-top: 50px;
    }

    .titulo{
        margin: 0;
    }

    .form-login{
        margin-left: 0;
    }
}

@media screen and (max-height: 700px){
    .row{
        margin-top: 252px;
    }
}